body {
  text-align: center;
  font-family: sans-serif;
  background: #fbe7e7;
}

#cake-container {
  position: relative;
  display: inline-block;
}

#cake {
  width: 300px;
}

.candle {
  width: 10px;
  height: 30px;
  background: orange;
  position: absolute;
  top: 50px;
}

.flame {
  width: 10px;
  height: 10px;
  background: yellow;
  border-radius: 50%;
  position: absolute;
  top: -10px;
}
